{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{{ '/static/home.css'|url }}">
{% endblock %}
{% block body %}
  <main role="main">
    <section class="section section-color edito">
      <div class="container">
        <h2>Edito de mars</h2>
        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
      </div>
    </section>
    <section class="section playlists">
      <div class="container">
        <h3>Playlists</h3>
        <div class="row">
          <div class="card">
            <div class="card__cover">
              <h3><a>Environnement dans le grand débat</a></h3>
            </div>
            <div class="card__content">
              <ul>
                <li><a>Données du grand débat</a></li>
                <li><a>Glyphosate</a></li>
                <li><a>Données du grand débat</a></li>
                <li><a>Glyphosate</a></li>
                <li><a>Données du grand débat</a></li>
                <li><a>Glyphosate</a></li>
                <li><a>Données du grand débat</a></li>
                <li><a>Glyphosate</a></li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card__cover">
              <h3><a>Journée du droit des femmes</a></h3>
            </div>
            <div class="card__content">
              <ul>
                <li><a>Données du grand débat</a></li>
                <li><a>Glyphosate</a></li>
                <li><a>Données du grand débat</a></li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card__cover">
              <h3><a>Environnement dans le grand débat</a></h3>
            </div>
            <div class="card__content">
              <ul>
                <li><a>Données du grand débat</a></li>
                <li><a>Glyphosate</a></li>
                <li><a>Données du grand débat</a></li>
                <li><a>Glyphosate</a></li>
                <li><a>Données du grand débat</a></li>
                <li><a>Glyphosate</a></li>
                <li><a>Données du grand débat</a></li>
                <li><a>Glyphosate</a></li>
                <li><a>Données du grand débat</a></li>
                <li><a>Glyphosate</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="text-center">
          <a class="button">Découvrir d’autres playlists</a>
        </div>
      </div>
    </section>
    <section class="section section-color recipe">
      <div class="container">
        <h3>La recette du mois</h3>
        <div class="panel">
          <h4>Comment mesurer l’égalité H/F dans l’administration</h4>
          <div class="row">
            <ul>
              <li>Annuaire du service public</li>
              <li>Liste des prénoms des agents publics</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <h2>Explorer les données</h2>
        <p>Parmi les nombreux jeux de données existant sur la plateforme, nous avons identifié des grands thèmes qui ne demandent qu’un peu d’amour.</p>
        <div class="highlight">
          <a class="topic" href="{{ '/topics/associations'|url }}">
            <img src="{{ '/static/images/icons/store.svg' }}" alt="Shiba Inu" />
            <div>
              <h3>Associations</h3>
              <div class="topic__meta">
                <div>120 jeux de données</div>
                <div>Dernière activité il y a <time>3 jours</time></div>
              </div>
            </div>
          </a>
        </div>
        <div class="grid">
          <a class="topic" href="{{ '/topics/associations'|url }}">
            <img src="{{ '/static/images/icons/clipboard-notes.svg' }}" alt="Shiba Inu" />
            <h3>Commande publique</h3>
            <div class="topic__meta">
              <div>120 jeux de données</div>
              <div>Dernière activité il y a <time>3 jours</time></div>
            </div>
          </a>
          <a class="topic">
            <img src="{{ '/static/images/icons/map.svg' }}" alt="Shiba Inu" />
            <h3>Géographie</h3>
            <div class="topic__meta">
              <div>120 jeux de données</div>
              <div>Dernière activité il y a <time>3 jours</time></div>
            </div>
          </a>
          <a class="topic" href="{{ 'topics/associations'|url }}">
            <img src="{{ '/static/images/icons/building.svg' }}" alt="Shiba Inu" />
            <h3>Entreprises</h3>
            <div class="topic__meta">
              <div>120 jeux de données</div>
              <div>Dernière activité il y a <time>3 jours</time></div>
            </div>
          </a>
          <a class="topic" href="{{ '/topics/associations'|url }}">
            <img src="{{ '/static/images/icons/car-sideview.svg' }}" alt="Shiba Inu" />
            <h3>Transport</h3>
            <div class="topic__meta">
              <div>120 jeux de données</div>
              <div>Dernière activité il y a <time>3 jours</time></div>
            </div>
          </a>
          <a class="topic" href="{{ '/topics/associations'|url }}">
            <img src="{{ '/static/images/icons/heart.svg' }}" alt="Shiba Inu" />
            <h3>Santé</h3>
            <div class="topic__meta">
              <div>120 jeux de données</div>
              <div>Dernière activité il y a <time>3 jours</time></div>
            </div>
          </a>
          <a class="topic" href="{{ '/topics/associations'|url }}">
            <img src="{{ '/static/images/icons/trees.svg' }}" alt="Shiba Inu" />
            <h3>Écologie</h3>
            <div class="topic__meta">
              <div>120 jeux de données</div>
              <div>Dernière activité il y a <time>3 jours</time></div>
            </div>
          </a>
          <a class="topic" href="{{ '/topics/associations'|url }}">
            <img src="{{ '/static/images/icons/map-pin-alt.svg' }}" alt="Shiba Inu" />
            <h3>Adresse</h3>
            <div class="topic__meta">
              <div>120 jeux de données</div>
              <div>Dernière activité il y a <time>3 jours</time></div>
            </div>
          </a>
          <a class="topic" href="{{ '/topics/associations'|url }}">
            <img src="{{ '/static/images/icons/line-chart.svg' }}" alt="Shiba Inu" />
            <h3>Statistiques</h3>
            <div class="topic__meta">
              <div>120 jeux de données</div>
              <div>Dernière activité il y a <time>3 jours</time></div>
            </div>
          </a>
          <a class="topic" href="{{ '/topics/associations'|url }}">
            <img src="{{ '/static/images/icons/envelope.svg' }}" alt="Shiba Inu" />
            <h3>Élections</h3>
            <div class="topic__meta">
              <div>120 jeux de données</div>
              <div>Dernière activité il y a <time>3 jours</time></div>
            </div>
          </a>
          <a class="topic" href="{{ '/topics/associations'|url }}">
            <img src="{{ '/static/images/icons/pen.svg' }}" alt="Shiba Inu" />
            <h3>Éducation</h3>
            <div class="topic__meta">
              <div>120 jeux de données</div>
              <div>Dernière activité il y a <time>3 jours</time></div>
            </div>
          </a>
          <a class="topic" href="{{ '/topics/associations'|url }}">
            <img src="{{ '/static/images/icons/book-alt.svg' }}" alt="Shiba Inu" />
            <h3>Culture</h3>
            <div class="topic__meta">
              <div>120 jeux de données</div>
              <div>Dernière activité il y a <time>3 jours</time></div>
            </div>
          </a>
          <a class="topic" href="{{ '/topics/associations'|url }}">
            <img src="{{ '/static/images/icons/euro-circle.svg' }}" alt="Shiba Inu" />
            <h3>Finances</h3>
            <div class="topic__meta">
              <div>120 jeux de données</div>
              <div>Dernière activité il y a <time>3 jours</time></div>
            </div>
          </a>
        </div>
        <!--div class="text-center">
          <a class="button" href="{{ '/datasets'|url }}">Parcourir directement les jeux de données</a>
          <a class="button">Me montrer un jeu de données aléatoire</a>
        </div-->
      </div>
    </section>
    <section class="section section-grey">
      <div class="container">
        <h3>Jeux de données</h3>
        <ul class="grid datasets">
          <li class="panel dataset__panel">
            <div class="panel__content">
              <a class="dataset__image" data-producer="Premier Ministre" />
                <img src="{{ '/static/images/producers/pm.png' }}" alt="Shiba Inu"/>
              </a>
              <a class="dataset__title" href="{{ '/datasets/base-officielle-des-codes-postaux'|url }}">
                <h3>Associations</h3>
              </a>
            </div>
            <div class="panel__extra">
              <div class="dataset__info">
                <span class="dataset__count">
                  <img src="{{ '/static/images/icons/resource.svg' }}" class="dataset__icon" /> 2 ressources
                </span>
                <span class="reuse__count">
                  <img src="{{ '/static/images/icons/reuse.svg' }}" class="dataset__icon" /> {{ this.reuse_count }} réutilisations
                </span>
                <span class="frequency">
                  <img src="{{ '/static/images/icons/time.svg' }}" class="dataset__icon" /> Mise à jour annuelle
                </span>
              </div>
            </div>
          </li>
          <li class="panel dataset__panel">
            <div class="panel__content">
              <a class="dataset__image" data-producer="Ministère de l’intérieur" />
                <img src="{{ '/static/images/producers/mi.png' }}" alt="Shiba Inu"/>
              </a>
              <a class="dataset__title" href="{{ '/datasets/base-officielle-des-codes-postaux'|url }}">
                <h3>Associations Reconnues d'Utilité Publique</h3>
              </a>
            </div>
            <div class="panel__extra">
              <div class="dataset__info">
                <span class="dataset__count">
                  <img src="{{ '/static/images/icons/resource.svg' }}" class="dataset__icon" /> 2 ressources
                </span>
                <span class="reuse__count">
                  <img src="{{ '/static/images/icons/reuse.svg' }}" class="dataset__icon" /> {{ this.reuse_count }} réutilisations
                </span>
                <span class="frequency">
                  <img src="{{ '/static/images/icons/time.svg' }}" class="dataset__icon" /> Mise à jour annuelle
                </span>
              </div>
            </div>
          </li>
          <li class="panel dataset__panel">
            <div class="panel__content">
              <a class="dataset__image" data-producer="Ministère de l’économie et des finances" />
                <img src="{{ '/static/images/producers/mef.png' }}" alt="Shiba Inu"/>
              </a>
              <a class="dataset__title" href="{{ '/datasets/base-officielle-des-codes-postaux'|url }}">
                <h3>PLF - Jaune - Associations subventionnées</h3>
              </a>
            </div>
            <div class="panel__extra">
              <div class="dataset__info">
                <span class="dataset__count">
                  <img src="{{ '/static/images/icons/resource.svg' }}" class="dataset__icon" /> 2 ressources
                </span>
                <span class="reuse__count">
                  <img src="{{ '/static/images/icons/reuse.svg' }}" class="dataset__icon" /> {{ this.reuse_count }} réutilisations
                </span>
                <span class="frequency">
                  <img src="{{ '/static/images/icons/time.svg' }}" class="dataset__icon" /> Mise à jour annuelle
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </main>
{% endblock %}