/* datasets */
.datasets .container {
  display: flex;
}

.datasets .side-pane {
  padding: 0;
  margin-right: 2em;
  flex: 0 0 15em;
}

.datasets .side-pane select {
  width: 100%;
}

.datasets .main-pane {
  padding: 0;
  background: 0;
}

.datasets__results {
  margin-bottom: 0.5em;
}

.datasets ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.datasets li + li {
  margin-top: 1em;
}
