.edito {
  padding: 2em 0;
}

.recipe ul {
  margin: 0;
}

.recipe .panel,
.recipe a {
  color: #1c1c1c;
}

.grid .topic {
  transition: all ease-in-out 0.1s;
}

a.topic {
  color: #1c1c1c;
  text-decoration: none;
  background-color: #ebeff3;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  border-radius: 0;
}

.highlight .topic {
  flex-direction: row;
  justify-content: center;
}

.highlight .topic:hover {
  transform: scale(1.01);
}

.grid .topic:hover {
  transform: scale(1.03);
  z-index: 2;
}

.highlight .topic h3,
.highlight .topic .topic__meta,
.grid .topic h3,
.grid .topic .topic__meta {
  text-align: center;
}

.highlight .topic time::after,
.grid .topic time::after {
  content: none;
}

.grid .topic img {
  max-height: 50px;
}

.highlight .topic img {
  max-height: 120px;
}

.playlists .row {
  margin: 0 -1em;
}

.playlists .card__cover {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;

}

.playlists .card__cover h3 {
  text-align: center;
  margin: 0;
}

.playlists .card__cover a {
  color: #fff;
  margin: 0;
  text-align: center;
  text-decoration: none;
}

.playlists .card__cover a:hover {
  background: none;
}

.playlists .card__content {
  padding: 0;
  height: 228px;
  overflow-y: scroll;
  background-color: #ebeff3;
}

.playlists .card ul {
  margin: 0;
  padding: 0;
}

.playlists .card li {
  padding: 1em;
  border-top: 1px solid #ebeff3;
  background: #fff;
}

.text-center .button {
  margin-top: 3em;
}

.topic h3 {
  line-height: 1.2em;
  margin: 0.5em 0;
}

.grid {
  margin: 1em 0 3em;
  padding: 0;
}

.card__cover {
  background: rgb(0, 83, 179);
}

.actu {
  flex: 0 0 30%;
  margin-left: 3em;
}

.grid .dataset__panel {
  width: 100%;
}

.dataset__icon {
  height: 1em;
  vertical-align: middle;
}