.hero__container p {
  line-height: 1.5em;
}

.hero__icon {
  height: 1em;
  vertical-align: middle;
}

.reuse__count {
  margin-left: 2em;
}

.datasets .grid {
  padding: 0;
  margin-top: 1em;
}

.grid .dataset__panel {
  width: 100%;
}

.entreprise-widget {
  padding: 3em;
}

.search_widget .panel__content {
  height: auto;
}

.widget__search {
  font-size: 14px;
  padding: 1em;
}

.widget__search h3 {
  margin: 0 0 1em;
  font-size: 1.2em;
}

.reuses .row {
  margin-top: 2em;
}

.playlist + .playlist {
  margin-top: 4em;
}

.playlist .row {
  justify-content: start;
  overflow-x: scroll;
}

.playlist .card {
  height: 150px;
  width: 300px;
  flex: 0 0 auto;
  margin: 0;
}

.playlist .card + .card {
  margin-left: 2em;
}

.playlist .card__cover {
  padding: 1em;
}

.playlist .card__cover h4,
.playlist .card__cover a {
  color: #1c1c1c;
  margin: 0;
}